html {
  display: flex;
  justify-content: center;
  background-color: black; /* placeholder colour for contrast */
  font-family: 'Press Start 2P', cursive;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background-color: rgba(245, 245, 245, 0.8); /* placeholder colour for contrast */
  width: 60vh;
  padding: 2rem;
  min-height: 80vh;
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  opacity: 1;
  height: 80px;
  margin-left: auto;
}

.menu-container {
  overflow-y: scroll;
  max-height: 85vh;
}
